{
    "extends": [
        "react-app",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "no-alert": "warn",
        "no-console": "warn",
        "no-restricted-globals": "off"
    },
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jquery": true
    }
}